<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FinalDBConnection" connectionString="Data Source=localhost80.database.windows.net;Initial Catalog=ProjectFinal;Persist Security Info=True;User ID=woutdecrop; Password=RRPyph04"/>
	</connectionStrings>
</configuration>